<!DOCTYPE html>
<html>
  <head>
    <title>BLOG</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css" href="./style.css"></style>
    <meta charset="utf-8";>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"   integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="   crossorigin="anonymous"></script>
  </head>

  <body>
   <nav class="cyan lighten-2">
      <div class="nav-wrapper">
        <span class="brand-logo right">B.l.o.g</span>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%=link_to 'blog',"/" %></li>
        <% if user_signed_in?%>
          <li><%=link_to 'Log-out',destroy_user_session_path, method: :delete%></li>
          <li><%=link_to 'put',"/articles/new" %></li>
        <% else %>
          <li><%=link_to 'Log-in',new_user_session_path%></li>
          <li><%=link_to 'Sign-up',new_user_registration_path%></li>
        <% end %>
        </ul>
      </div>
   </nav>
     <div class="progress">
        <div class="determinate" style="width: 70%"></div>
    </div>
  <script type="text/javascript" src="./app.js"></script>
  <div class="pagebody-main">
    <%= yield %>
  </div>
  </body>
</html>
